<mat-progress-bar color="warn" mode="indeterminate" *ngIf="progressBarService.visibility | async"></mat-progress-bar>

<mat-toolbar color="primary" class="mat-elevation-z6 mat-toolbar">

  <button *ngIf="isLoggedIn" mat-icon-button matTooltip="menu" (click)="toggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>

<!--  <a class="logo" routerLink="/">Capstone Project Portal</a>-->

  <span class="fill-remaining-space"></span>

  <button mat-raised-button *ngIf="!isLoggedIn" [routerLink]="loginURL">Login</button>

  <div *ngIf="isLoggedIn" fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-sm="10" fxFlex="20" fxLayoutAlign="end">
    <button mat-mini-fab [matMenuTriggerFor]="menu" class="bg-white text-grey mat-elevation-z0">
      <span class="font-size-1">{{ userName | uppercase | slice: 0:1 }}</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>
        <span class="text-grey font-size-1"> {{ userName | titlecase }} </span>
      </button>

      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>View Profile</span>
      </button>

      <button mat-menu-item>
        <mat-icon>vpn_key</mat-icon>
        <span>Change Password</span>
      </button>

      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>

</mat-toolbar>
