.logo {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: .3rem;
  margin-left: 1%;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
