<h1 mat-dialog-title>Details of {{data.name}}</h1>

<div mat-dialog-content>
  <mat-nav-list>
    <mat-list-item>
      <mat-icon mat-list-icon>person</mat-icon>
      <span mat-line><b>Name</b></span>
      <span mat-line>{{data.name || 'Not available'}}</span>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon>email</mat-icon>
      <span mat-line><b>Email</b></span>
      <span mat-line>{{data.email || 'Not available'}}</span>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon>thumbs_up_down</mat-icon>
      <span mat-line><b>Organisation Name</b></span>
      <span mat-line>{{data.organisation_name || 'Not available'}}</span>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon>event</mat-icon>
      <span mat-line><b>Phone Number</b></span>
      <span mat-line>{{data.phone_number || 'Not available'}}</span>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon>event</mat-icon>
      <span mat-line><b>Created At</b></span>
      <span mat-line>{{(data.created_at | date: 'long') || 'Not available'}}</span>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon>event</mat-icon>
      <span mat-line><b>Last Updated At</b></span>
      <span mat-line>{{(data.updated_at | date: 'long') || 'Not available'}}</span>
    </mat-list-item>

    <mat-list-item>
      <mat-icon mat-list-icon>event</mat-icon>
      <span mat-line><b>Last Updated by</b></span>
      <span mat-line>{{data.last_updated_by || 'Not available'}}</span>
    </mat-list-item>

  </mat-nav-list>
</div>

<div mat-dialog-actions fxLayoutAlign="end">
  <button mat-flat-button (click)="closeModal()">Cancel</button>
</div>
