<h1 mat-dialog-title>Change Password</h1>

<div mat-dialog-content>

  <app-alert></app-alert>

  <form #changePasswordForm="ngForm">
    <mat-form-field>
      <label>
        <input type="password" matInput placeholder="Old Password" name="old-password"
               [(ngModel)]="changePasswordModel.password" #oldPassword="ngModel" required>
      </label>
      <mat-error *ngIf="oldPassword.touched && oldPassword.invalid">
        <small class="mat-text-warn" *ngIf="oldPassword?.errors.required">Old Password is required.</small>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <label>
        <input type="password" matInput placeholder="New Password" name="new-password"
               [(ngModel)]="changePasswordModel.new_password" #newPassword="ngModel" required>
      </label>
      <mat-error *ngIf="newPassword.touched && newPassword.invalid">
        <small class="mat-text-warn" *ngIf="newPassword?.errors.required">New Password is required.</small>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <label>
        <input type="password" matInput placeholder="Confirm Password" name="confirm-password"
               [(ngModel)]="changePasswordModel.new_password_confirm" #confirmPassword="ngModel" required>
      </label>
      <mat-error *ngIf="confirmPassword.touched && confirmPassword.invalid">
        <small class="mat-text-warn" *ngIf="confirmPassword?.errors.required">Confirm Password is required.</small>
      </mat-error>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions fxLayoutAlign="end">
  <button mat-flat-button (click)="closeModal()">Cancel</button>
  <button color="primary" mat-raised-button (click)="changePassword()"
          [disabled]="changePasswordForm.form.invalid || isDisableBtn">
    Update
  </button>
</div>
