<h1 mat-dialog-title>Take Action</h1>

<div mat-dialog-content>

  <app-alert></app-alert>

  <form #actionForm="ngForm" (ngSubmit)="saveComment()">
    <mat-form-field>
      <mat-label>Action</mat-label>
      <mat-select placeholder="Action" name="action" [(ngModel)]="projectComment.project_status" #project_status="ngModel" required>
        <mat-option [value]="STUDENT_STATUS.APPROVED">{{STUDENT_STATUS.APPROVED}}</mat-option>
        <mat-option [value]="STUDENT_STATUS.DECLINED">{{STUDENT_STATUS.DECLINED}}</mat-option>
      </mat-select>
      <mat-error *ngIf="project_status.touched && project_status.invalid">
        <small class="mat-text-warn" *ngIf="project_status?.errors.required">Status is required.</small>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <label>
        <textarea matInput placeholder="Comment" name="comment" [(ngModel)]="projectComment.text" #comment="ngModel" required>
        </textarea>
      </label>
      <mat-error *ngIf="comment.touched && comment.invalid">
        <small class="mat-text-warn" *ngIf="comment?.errors.required">Comment is required.</small>
      </mat-error>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions fxLayoutAlign="end">
  <button mat-flat-button (click)="closeModal()">Cancel</button>
  <button color="primary" mat-raised-button (click)="saveComment()"
          [ngClass]="actionForm.form.invalid ? 'cursor-not-allowed' : 'cursor-pointer'"
          [disabled]="actionForm.form.invalid || isDisableBtn">
    Submit
  </button>
</div>
