<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ APPLICATION_NAME }}</title>
</head>
<body style="background-color: #f1f1f1; font-family: sans-serif; padding-top: 28px; overflow: hidden;">

<div style="width: 90%; border: 2px solid #3f51b5;border-radius: 8px; margin: 10px auto; text-align: center;">
    <div style="background-color: #3f51b5; padding: 8px; color: #ffffff; font-size: 28px">
        {{ APPLICATION_NAME }}
    </div>
    <br/>
    <div style="color: #4c4c4c; font-size: 15px; line-height: 20px;">
        {{ BODY }}
    </div>
    <br/>
    <br/>
</div>

<div style="padding: 8px; text-align: center; color: #424242; margin-top: 5px">
    © 2020 {{ APPLICATION_NAME }}
</div>

</body>
</html>
