<div class="v-h-center" fxLayout="row column" fxLayoutAlign="center center" fxFlex="100">

  <mat-card class="mat-elevation-z2 p-2 login-card">
    <mat-card-content fxLayout="column" fxFlex="100">
      <mat-card-title class="text-center mb-2"> Login </mat-card-title>

      <div fxLayout="column" fxFlex="100">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <label>
            <input matInput type="email" [(ngModel)]="loginParam.email" placeholder="Email">
          </label>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <label>
            <input matInput type="password" [(ngModel)]="loginParam.password" placeholder="Password">
          </label>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="login()">Login</button>
      </div>

    </mat-card-content>
  </mat-card>
</div>
