<mat-card class="mat-elevation-z1 m-auto w-90 mt-2 p-2">
  <mat-card-header fxLayout="row" fxLayoutAlign="space-between center" class="mb-1">
    <mat-card-title class="m-auto">Proposal Authors</mat-card-title>
    <button mat-flat-button (click)="clearFilter()" *ngIf="isFiltered">Clear filter
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-form-field class="mt-1">
    <label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </label>
  </mat-form-field>

  <div class="pos-relative">
    <div class="table-spinner" *ngIf="spinnerService.visibility | async">
      <app-spinner></app-spinner>
    </div>

    <mat-table class="mt-1" [dataSource]="dataSource" matSort [matSortActive]="displayedColumns[5]"
               matSortDirection="desc">
      <ng-container [matColumnDef]="displayedColumns[0]">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="center center"> ID
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row" fxLayoutAlign="center center"> {{row.id}} </mat-cell>
      </ng-container>

      <ng-container [matColumnDef]="displayedColumns[1]">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="start center"> Name
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row" fxLayoutAlign="start center"> {{row.name}} </mat-cell>
      </ng-container>

      <ng-container [matColumnDef]="displayedColumns[2]">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="start center"> Email
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row" fxLayoutAlign="start center"> {{row.email}} </mat-cell>
      </ng-container>

      <ng-container [matColumnDef]="displayedColumns[3]">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="start center"> Phone Number
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row" fxLayoutAlign="start center"> {{row.phone_number}} </mat-cell>
      </ng-container>

      <ng-container [matColumnDef]="displayedColumns[4]">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="start center"> Organisation
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row" fxLayoutAlign="start center"> {{row.organisation_name}} </mat-cell>
      </ng-container>

      <ng-container [matColumnDef]="displayedColumns[5]">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="start center"> Updated At
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row" fxLayoutAlign="start center"> {{row.updated_at | date}} </mat-cell>
      </ng-container>

      <ng-container [matColumnDef]="displayedColumns[6]">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="center center"> Action
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row" fxLayoutAlign="center center">
          <button mat-icon-button matTooltip="view" (click)="openViewAuthorModal(row)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button matTooltip="edit" (click)="openAddStaffModal(row)"
                  *ngIf="loggedInRoles.isAdmin || loggedInRoles.isSecondLevel || loggedInRoles.isThirdLevel">
            <mat-icon>edit</mat-icon>
          </button>
          <a mat-icon-button matTooltip="projects" [routerLink]="[PROJECT_URL]"
             [queryParams]="getProjectURLForEmail(row.email)">
            <mat-icon>assignment</mat-icon>
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div *ngIf="dataSource?.data.length === 0">
      <h3 class="mat-card-subtitle text-center mt-1">No data found.</h3>
    </div>

    <mat-paginator [pageSizeOptions]="pageSize"></mat-paginator>
  </div>
</mat-card>
