<mat-card class="mat-elevation-z1 m-auto w-90 mt-2 p-2">
  <mat-card-header fxLayout="row" fxLayoutAlign="space-between center" class="mb-1">
    <mat-card-title class="m-auto">Project Proposal</mat-card-title>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-horizontal-stepper labelPosition="bottom" linear #stepper>

    <mat-step [completed]="proposalAuthorStep" [editable]="false">
      <div fxLayout="row column" fxLayoutAlign="space-evenly center">
        <form #proposalAuthorFrom="ngForm">
          <ng-template matStepLabel>Fill out your details</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <label>
              <input matInput placeholder="name" name="name" [(ngModel)]="proposalAuthorModel.name" #name="ngModel" required>
            </label>
            <mat-error *ngIf="name.touched && name.invalid">
              <small class="mat-text-warn" *ngIf="name?.errors.required">Name is required.</small>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <label>
              <input matInput placeholder="email" name="email" [(ngModel)]="proposalAuthorModel.email" #email="ngModel" required>
            </label>
            <mat-error *ngIf="email.touched && email.invalid">
              <small class="mat-text-warn" *ngIf="email?.errors.required">Email is required.</small>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <label>
              <input matInput placeholder="phone_number" name="phone_number" [(ngModel)]="proposalAuthorModel.phone_number">
            </label>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Organisation Name</mat-label>
            <label>
              <input matInput placeholder="organisation_name" name="organisation_name" [(ngModel)]="proposalAuthorModel.organisation_name">
            </label>
          </mat-form-field>
          <div>
            <button mat-stroked-button color="primary" class="f-right"
                    (click)="saveProposalAuthor(stepper)"
                    [ngClass]="proposalAuthorFrom.form.invalid ? 'cursor-not-allowed' : 'cursor-pointer'"
                    [disabled]="proposalAuthorFrom.form.invalid">
              Next
              <app-spinner *ngIf="spinnerService.visibility | async" class="d-inline-block ml-1" [diameter]="15"></app-spinner>
            </button>
          </div>
        </form>
      </div>
    </mat-step>

    <mat-step [completed]="projectStep" [editable]="false">
      <div fxLayout="row column" fxLayoutAlign="space-evenly center">
        <form #projectFrom="ngForm">
          <ng-template matStepLabel>Fill out your project proposal</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <label>
              <input matInput placeholder="Title" name="title" [(ngModel)]="project.title" #title="ngModel" required>
            </label>
            <mat-error *ngIf="title.touched && title.invalid">
              <small class="mat-text-warn" *ngIf="title?.errors.required">Title is required.</small>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <label>
              <textarea matInput placeholder="Description" name="description" [(ngModel)]="project.description" #description="ngModel" required></textarea>
            </label>
            <mat-error *ngIf="description.touched && description.invalid">
              <small class="mat-text-warn" *ngIf="description?.errors.required">Description is required.</small>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select placeholder="Select Category" name="category" [(ngModel)]="project.category"
                        #category="ngModel" multiple required>
              <mat-option *ngFor="let category of categories" [value]="category">
                {{category?.name}} &nbsp;
                <i>({{category?.description}})</i>
              </mat-option>
            </mat-select>
            <mat-error *ngIf="category.touched && category.invalid">
              <small class="mat-text-warn" *ngIf="category?.errors.required">Category is required.</small>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Target Platform and language</mat-label>
            <label>
              <input matInput placeholder="Platform" name="platform" [(ngModel)]="project.platform" #platform="ngModel">
            </label>
          </mat-form-field>
          <div fxLayout="row">
            <mat-form-field appearance="outline" class="mr-1">
              <mat-label>Required completion date</mat-label>
              <label for="deadline"></label>
              <input id="deadline" matInput [matDatepicker]="fDate" (focus)="fDate.open()" (click)="fDate.open()" name="deadline" [(ngModel)]="project.deadline">
              <mat-datepicker-toggle matSuffix [for]="fDate"></mat-datepicker-toggle>
              <mat-datepicker #fDate></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Availability</mat-label>
              <label>
                <input matInput placeholder="Weekdays, business hours" name="availability" [(ngModel)]="project.availability">
              </label>
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <mat-form-field appearance="outline" class="mr-1">
              <mat-label>City</mat-label>
              <label>
                <input matInput placeholder="City" name="city" [(ngModel)]="project.city" #city="ngModel" required>
              </label>
              <mat-error *ngIf="city.touched && city.invalid">
                <small class="mat-text-warn" *ngIf="city?.errors.required">City is required.</small>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Country</mat-label>
              <label>
                <input matInput placeholder="Country" name="country" [(ngModel)]="project.country" #country="ngModel" required>
              </label>
              <mat-error *ngIf="country.touched && country.invalid">
                <small class="mat-text-warn" *ngIf="country?.errors.required">Country is required.</small>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <button mat-stroked-button color="primary" class="f-right"
                    (click)="saveProject(stepper)"
                    [ngClass]="projectFrom.form.invalid ? 'cursor-not-allowed' : 'cursor-pointer'"
                    [disabled]="projectFrom.form.invalid">
              Next
              <app-spinner *ngIf="spinnerService.visibility | async" class="d-inline-block ml-1" [diameter]="15"></app-spinner>
            </button>
          </div>
        </form>
      </div>
    </mat-step>

    <mat-step [optional]="true">
      <div fxLayout="row column" fxLayoutAlign="space-evenly center">
        <form [formGroup]="uploadFile">
          <ng-template matStepLabel>Upload files</ng-template>
          <app-alert></app-alert>
          <app-file-upload formControlName="file" [progress]="progress"></app-file-upload>
          <ng-template class="d-none" *ngIf="hasError('file', 'requiredFileType')">🤡</ng-template>
          <div>
            <button mat-stroked-button color="primary" class="f-right mt-1" (click)="fileUpload()">Done</button>
          </div>
        </form>
      </div>
    </mat-step>

  </mat-horizontal-stepper>

</mat-card>
