<mat-card class="mat-elevation-z1 m-auto w-90 mt-2 p-2">
  <mat-card-header fxLayout="row" fxLayoutAlign="space-between center" class="mb-1">
    <mat-card-title class="m-auto">Project Category</mat-card-title>
    <button color="primary" mat-stroked-button (click)="openAddCategoryModal()">Add Category</button>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-form-field class="mt-1">
    <label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </label>
  </mat-form-field>

  <div class="pos-relative">
    <div class="table-spinner" *ngIf="spinnerService.visibility | async">
      <app-spinner></app-spinner>
    </div>

    <mat-table class="mt-1" [dataSource]="dataSource" matSort [matSortActive]="displayedColumns[1]" matSortDirection="asc">
      <ng-container [matColumnDef]="displayedColumns[0]">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="center center" fxFlex="10"> ID </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row" fxLayoutAlign="center center" fxFlex="10"> {{row.id}} </mat-cell>
      </ng-container>

      <ng-container [matColumnDef]="displayedColumns[1]">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="start center" fxFlex="25"> Name </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row" fxLayoutAlign="start center" fxFlex="25"> {{row.name}} </mat-cell>
      </ng-container>

      <ng-container [matColumnDef]="displayedColumns[2]">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="start center" fxFlex="40"> Description </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row" fxLayoutAlign="start center" fxFlex="40"> {{row.description}} </mat-cell>
      </ng-container>

      <ng-container [matColumnDef]="displayedColumns[3]">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="center center" fxFlex="10"> Active </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row" fxLayoutAlign="center center" fxFlex="10">
          <mat-slide-toggle color="primary" [checked]="row.status" (toggleChange)="toggleStatusCategory(row)"></mat-slide-toggle>
        </mat-cell>
      </ng-container>

      <ng-container [matColumnDef]="displayedColumns[4]">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="center center" fxFlex="15"> Action </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row" fxLayoutAlign="center center" fxFlex="15">
          <button mat-icon-button matTooltip="edit" (click)="openAddCategoryModal(row)"><mat-icon>edit</mat-icon></button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="pageSize"></mat-paginator>
  </div>
</mat-card>
