<mat-card class="mat-elevation-z1 m-auto w-90 mt-2 mb-1 p-2">
  <h1 class="text-center mat-typography">Thank you!</h1>
  <h3 class="text-center mat-typography">Your proposal has been submitted successfully.</h3>

  <div fxLayout="row" fxLayoutAlign="space-around center" class="mb-1">
    <img src="assets/image/undraw_positive_attitude_xaae.png" alt="thank-you" class="img-undraw">
  </div>

  <h2 class="text-center mat-typography">What happens next?</h2>
  <h4 class="text-center mat-typography">
    Our project team will review your proposal and email you as soon as possible.
    You do not need to take any further action.
  </h4>

  <h4 class="text-center mat-typography">
    If there are any concerns or adjustments we would like you to consider, we will let you know by email
    or telephone.
  </h4>

  <h2 class="text-center mat-typography mt-2">Have an idea for another project?</h2>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="mb-1">
    <button mat-raised-button color="primary" [routerLink]="home_url" class="text-center">
      Submit a Proposal
    </button>
  </div>
</mat-card>
