<mat-card class="mat-elevation-z1 m-auto w-90 mt-2 p-2">
  <mat-card-header fxLayout="row" fxLayoutAlign="space-between center" class="mb-1">
    <mat-card-title class="m-auto">Staff</mat-card-title>
    <div>
      <button mat-flat-button (click)="clearFilter()" *ngIf="isFiltered">Clear filter
        <mat-icon>close</mat-icon>
      </button>
      <button color="primary" mat-stroked-button (click)="openAddStaffModal()">Add staff</button>
    </div>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-form-field class="mt-1">
    <label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </label>
  </mat-form-field>

  <div class="pos-relative overflow-auto">
    <div class="table-spinner" *ngIf="spinnerService.visibility | async">
      <app-spinner></app-spinner>
    </div>

    <table mat-table class="mt-1 overflow-auto" [dataSource]="dataSource" matSort [matSortActive]="displayedColumns[1]"
               matSortDirection="asc">
      <ng-container [matColumnDef]="displayedColumns[0]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          ID
        </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container [matColumnDef]="displayedColumns[1]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Name
        </th>
        <td mat-cell *matCellDef="let row" > {{row.name | titlecase}} </td>
      </ng-container>

      <ng-container [matColumnDef]="displayedColumns[2]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >
          Email
        </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>

      <ng-container [matColumnDef]="displayedColumns[3]">
        <th mat-header-cell *matHeaderCellDef > Role(s)
        </th>
        <td mat-cell *matCellDef="let row" >
          <mat-chip-list aria-label="roles">
            <mat-chip disableRipple *ngFor="let role of row.roles">{{role.name}}</mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <ng-container [matColumnDef]="displayedColumns[4]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >
          Active
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-slide-toggle color="primary" [checked]="row.active"
                            (toggleChange)="toggleStatusStaff(row)"></mat-slide-toggle>
        </td>
      </ng-container>

      <ng-container [matColumnDef]="displayedColumns[5]">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Updated At
        </th>
        <td mat-cell *matCellDef="let row"> {{row.updated_at | date: 'medium'}} </td>
      </ng-container>

      <ng-container [matColumnDef]="displayedColumns[6]" stickyEnd>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Action
        </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="action menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openViewStaffModal(row)">
              <mat-icon>visibility</mat-icon>
              <span>View details</span>
            </button>
            <button mat-menu-item (click)="openAddStaffModal(row)">
              <mat-icon>edit</mat-icon>
              <span>Edit details</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div *ngIf="dataSource?.data.length === 0">
      <h3 class="mat-card-subtitle text-center mt-1">No data found.</h3>
    </div>

    <mat-paginator [pageSizeOptions]="pageSize"></mat-paginator>
  </div>
</mat-card>
